# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env*

# Vercel
.vercel

# Project specific
bottle-forge/node_modules/
bottle-forge/dist/
bottle-forge/.vercel
